.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .title{
    color: #bbb;
  }
  
  .subtitle{
    font-size: 20px;
    margin-bottom: 30px;
    color: #bbb;
  }
  
  .form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
  }
  
  .button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #116edf;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #1e74ff;
  }
  
  .or {
    color: #bbb;
  }
  
  .link {
    text-decoration: underline;
    color: #7d7c7c;
  }
  
  .link:hover {
    color: rgb(61, 61, 61);
  }
  
  .google {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .google:hover {
    box-shadow: 0 0 6px #4285f4;
  }